/* General Styles */
body {
    background: linear-gradient(to bottom, #1E0342, #433D8B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-top-left img {
    width: 125px; /* Adjust the width as needed */
}

.page-title {
    font-size: 1.5rem;
    color: white;
    margin-top: 1px; /* Adjust the margin as needed */
}

.tasks-container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
}

.tasks-container table {
    width: 100%;
    border-collapse: collapse;
}

.tasks-container th, .tasks-container td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.tasks-container th {
    background: #433D8B;
    color: white;
    font-size: 1.25rem; /* Adjust font size if needed */
}

.tasks-container td {
    background: #f9f9f9;
    color: #333;
}

.back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #6c63ff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.back:hover {
    background: #6c63ff;
    color: white;
}
