/* General Styles */
body {
    background: linear-gradient(to bottom, #1E0342, #433D8B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px; /* Adjust this to move everything upwards */
}

/* Positioning the logo in the top left corner */
.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-top-left img {
    width: 125px; /* Adjust the width as needed */
}

/* Notification styles */
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #909090;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Guru page specific styles */
.guru-subject-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 40px; /* Space between buttons */
    background: white;
    padding: 5rem 7rem; /* Only left and right padding */
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 200px auto 20px auto; /* Top margin to move container down, auto for horizontal centering */
    align-items: center; /* Center the items horizontally */
}

.guru-subject-container a {
    display: block;
    width: 100%; /* Full width of the container */
    max-width: 500px; /* Max width of the button */
    padding: 3rem 3rem;
    border: 5px solid #711CE2;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    background-color: #711CE2; /* Background color */
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    font-size: 1.50rem; /* Font size */
    text-align: center; /* Center text inside the button */
}

.guru-subject-container a:hover {
    background-color: #5a0db1; /* Darker shade for hover effect */
    color: white;
}

/* Logout button styles */
.logout {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    color: #6c63ff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.logout:hover {
    background: #6c63ff;
    color: white;
}
