/* General Styles */
body {
    background: linear-gradient(to bottom, #1E0342, #433D8B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Logo Container */
.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-top-left img {
    width: 125px; /* Adjust the width as needed */
}

/* Page Title */
.page-title {
    font-size: 1.5rem;
    color: white;
    margin-top: 1px; /* Adjust the margin as needed */
}

/* Container and Form Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.form-box {
    margin-top: 4rem;
    background: #fff;
    padding: 2rem;
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 1150px; /* Width of the form box */
    height: 350px; /* Height of the form box */
    border: 10px solid #ccc; /* Border around the form box */
    text-align: center;
}

/* Form Elements */
h2 {
    margin-bottom: 1rem;
    color: #333;
}

.form-group {
    display: flex; /* Use flexbox for form layout */
    margin-bottom: 1rem; /* Space between form groups */
    justify-content: space-around;
}

.form-group label {
    width: 19%; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
    font-size: 25px;
}

.form-group input,
.form-group textarea {
    flex: 1; /* Allow input to take remaining space */
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #5a0db1;
    border-radius: 0.3rem;
}

.form-group textarea {
    resize: vertical;
}

button {
    margin-top: 40px;
    background-color: #711CE2;
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #5a0db1;
}

/* Success and Error Messages */
.success-message {
    color: green;
    margin-bottom: 1rem;
}

.error-messages {
    color: red;
    margin-bottom: 1rem;
}

/* Back Link */
.backguru {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #6c63ff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    bottom: 20px;
    left: 20px;
    position: fixed;
}

.backguru:hover {
    background: #6c63ff;
    color: white;
}
