body {
    background: linear-gradient(to bottom, #1E0342, #433D8B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px; /* Adjust this to move everything upwards */
}

.logo-container {
    margin-bottom: -60px; /* Reduce this to decrease the space between logo and form */
}

.logo-container img {
    width: 300px;
}

.register-container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.register-container h2 {
    margin-bottom: 1rem;
    color: #333;
}

.register-container input, .register-container select {
    width: calc(100% - 2rem);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd; /* Increased border-width for a thicker outline */
    border-radius: 1rem; /* Increased border-radius for more rounded corners */
}

.register-container input[type="submit"] {
    background: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

.register-container input[type="submit"]:hover {
    background: #574b90;
}

.register-container a {
    display: block;
    margin-top: 1rem;
    color: #6c63ff;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup.active {
    display: block;
}
