/* General Styles */
body {
    background: linear-gradient(to bottom, #1E0342, #433D8B);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Logo */
.logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-top-left img {
    width: 125px; /* Adjust the width as needed */
}

/* Page Title */
.page-title {
    font-size: 1.5rem;
    color: white;
    margin-top: 1px; /* Adjust the margin as needed */
}

/* Riwayat Tugas Container */
.riwayat-tugas-container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.riwayat-tugas-container table {
    width: 100%;
    border-collapse: collapse;
}

.riwayat-tugas-container th, .riwayat-tugas-container td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.riwayat-tugas-container th {
    background: #433D8B;
    color: white;
    font-size: 1.25rem;
}

.riwayat-tugas-container td {
    background: #f9f9f9;
    color: #333;
}

/* Riwayat Tugas Action Buttons */
.riwayat-tugas-action-button {
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.riwayat-tugas-delete-button {
    background-color: red;
}

.riwayat-tugas-detail-button {
    background-color: blue;
}

.riwayat-tugas-edit-button {
    background-color: green;
}

.riwayat-tugas-delete-button:hover {
    background-color: darkred;
}

.riwayat-tugas-detail-button:hover {
    background-color: darkblue;
}

.riwayat-tugas-edit-button:hover {
    background-color: darkgreen;
}

/* Back Button */
.backguru {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #6c63ff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    bottom: 20px;
    left: 20px;
    position: fixed;
}

.backguru:hover {
    background: #6c63ff;
    color: white;
}
